{% extends "presets/base.html.twig" %}

{% block actions %}
    <a class="btn btn-primary" href="{{ url('presets_new') }}" role="button">
        <i class="bi bi-plus-circle-fill"></i> New
    </a>
    <a class="btn btn-success" id="sort-presets" href="{{ url('presets_sort_list') }}" role="button">
        <i class="bi bi-arrows-move"></i> Sort
    </a>
    <a class="btn btn-secondary" href="{{ url('presets_copy_list') }}" role="button">
        <i class="bi bi-copy"></i> Copy
    </a>
    <a class="btn btn-warning" id="delete-preset" href="{{ url('presets_delete_list') }}" role="button">
        <i class="bi bi-trash"></i> Delete
    </a>
    <a class="btn btn-outline-success" href="{{ url('stage_start') }}" role="button">
        <i class="bi bi-play"></i> On Stage!
    </a>
{% endblock %}


{% block preset %}
    <twig:Tile
        :title="preset.name"
        :href="url('presets_edit', {'id': preset.id})"
        icon="bi-gear"
        class="tile-preset-list"
    />
{% endblock %}

