<html>
<head>
    <title>Loading</title>
</head>
<body>
    <h1>{{ title | default('Loading...') }}</h1>
    <script>
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "{{ target_url }}", true );
        {% for key,value in target_headers|default([]) %}
        xmlHttp.setRequestHeader("{{ key }}", "{{ value }}");
        {% endfor %}
        xmlHttp.send( null );

        setTimeout(
            function() {
                window.location.assign("{{ redirect_url }}");
            },
            {{ timeout | default(2000)}}
        );
    </script>
</body>
</html>