{% extends "system/index.html.twig" %}

{% block title %}Env{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <twig:BreadcrumbItem href="{{ url('system_sf_env_list') }}">
        Env
    </twig:BreadcrumbItem>
{% endblock %}

{% block content %}
    <div class="row">
        {% for sf_env in sf_envs %}
            {% set selection_class = sf_env == current_env ? "tile-selected" : "" %}
        <div class="col-sm-3 col-lg-2 p-0">
            <twig:Tile
                title="Env: {{ sf_env|upper }}"
                href="{{ url('system_sf_env_change', {'env': sf_env}) }}"
                icon="bi-floppy"
                :class="selection_class"
            />
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}