{% extends "base_app.html.twig" %}

{% block title %}System{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <twig:BreadcrumbItem href="{{ url('system_index') }}">
        System
    </twig:BreadcrumbItem>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-3 col-lg-2 p-0">
            {% if isServerEnabled %}
            <twig:Tile
                title="Stop Server"
                href="{{ url('system_server_stop', {'redirect_url': url('system_index')}) }}"
                icon="bi-sign-stop"
            />
        </div>

        <div class="col-sm-3 col-lg-2 p-0">
            <twig:Tile
                    title="Restart Server"
                    href="{{ url('system_server_restart', {'redirect_url': url('system_index')}) }}"
                    icon="bi-bootstrap-reboot"
            />
            {% else %}
            <twig:Tile
                title="Start Server"
                href="{{ url('system_server_start', {'redirect_url': url('system_index')}) }}"
                icon="bi-play-fill"
            />
            {% endif %}
        </div>

        <div class="col-sm-3 col-lg-2 p-0">
            <twig:Tile
                    title="Env: {{ app_env|upper }}"
                    href="{{ url('system_sf_env_list') }}"
                    icon="bi-box-arrow-in-right"
            />
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}