<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgo=">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-icons.css') }}" crossorigin="anonymous">

    <script src="{{ asset('assets/js/jquery.js') }}" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/popper.js') }}" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/bootstrap.js') }}" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/Sortable.js') }}" crossorigin="anonymous"></script>

    {%  block header %}{% endblock %}

    <title>{% block title %}MBuddy{% endblock %}</title>

    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
        }
    </style>

</head>
<body>
    {%  block body %}{% endblock %}

    {% block script %}{% endblock %}
</body>
</html>
