<div {{ attributes.defaults( {class: 'card col-2 m-2'} ) }} >
    <div class="card-body" style="background-color: {{ computed.color }};">
        <h5 class="card-title">
            {{ preset.name }}
            {% if icon %}
                <span class="float-end">
                    <i class="bi {{ icon }}"></i>
                </span>
            {% endif %}
        </h5>
        <pre class="card-text">{{ preset.id }}</pre>
        {% if href %}<a href="{{ href }}" class="stretched-link"></a>{% endif %}
        {% block content %}{% endblock %}
    </div>
</div>